

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#9fc0c7, #a8bbbf);
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
    -fx-background-radius: 12px;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#cccbca 0%, #dedcdc 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: black;  /* The color of the text in the cells */
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #c5c7c1; /* the color of the darker row */
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; 
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #e2e3de;  /* the color of the lighter row */
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected {  /* Where you have a row selected */
    -fx-background-color: #a1c7d1;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}

.tab-header-background {  /* When not selected */
-fx-background-color: transparent;
}

.tab-pane{
-fx-tab-min-width:90px;
}


.tab-pane .tab {
    -fx-background-insets: 0 0 0 0,0,0;
    -fx-background-color: #d9d2d2;
    
}

.tab-pane .tab:selected {
 	-fx-background-color: #9fc0c7;
  /*  -fx-background-image: url("background.jpg");*/
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.officers {
	-fx-font-size: 12px;
}

.labels {
    -fx-font-weight: bold;
    
}

.title {
	-fx-alignment: CENTER;
	-fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #9fc0c7;
    -fx-font-family: "Helvetica";
}

.titled-pane {
	-fx-background-color: #e2e3de;
	-fx-alignment: CENTER;
	-fx-font-size: 12px;
    -fx-font-weight: bold;
}

.titled-pane > .title {
  -fx-background-insets: 0, 1, 2;
  -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
  -fx-padding: 0.166667em 1.166667em 0.25em 0; /* 2 14 3 0 */
  -fx-font-size: 14px;
}

.boardgeneral {
	-fx-font-size: 14px;
	-fx-alignment: CENTER;
	
}

.text {
	-fx-font-family:  "Helvetica";
}

.tab:selected .tab-label {  /* white lettering in a selected tab */
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

#box-blue {
	-fx-background-color: #9fc0c7;  /* blue selected tab background in person */
}

#box-grey {
	-fx-background-color: #c6c6c6;
}

#box-pink {
	-fx-background-color: #dbd5d5; /* #dfdada*/ 
}

#box-test {
	-fx-background-color: #c3e6d5; /* #dfdada*/
}

#box-test2 {
	-fx-background-color: #a636d5; /* #dfdada*/
}

#box-lightgrey {
	-fx-background-color: #c5c7c1;
}

#bold-label {
  -fx-font-weight: bold;
}

#default-button {
 -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

#default-button:focused {
	-fx-color: -fx-focused-base;
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius:  6.4, 5, 4, 3;
}

#default-button:hover {
    -fx-color: -fx-hover-base;
}

#default-button:armed {
    -fx-color: -fx-pressed-base;
}
 
#default-button:default {
    -fx-base: -fx-accent;
}

#default-button:cancel {
}

#default-button:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

#toolbar-box {
	-fx-background-color: #d8e3e6;  /* blue selected tab background in person */
}

#slip-box {
  -fx-background-image: url("file:///C:/Users/pcame/git/ECSC/src/main/resources/slips/Slips.png");
  -fx-background-position: center center;
}

/*C:\Users\pcame\git\ECSC\src\main\resources\slips\Slips.png*/

#slip-fonts {
	-fx-font-size: 11px;
	-fx-font-family: "Arial";
}

#fancytext {
    -fx-font: 50px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

#bigbuttontext {
	-fx-font-size: 22px;
}

#titled > .title {
	-fx-font-size: 12px;
	}

#column-align-right {
  	-fx-alignment: center-right;
}

#rostertab-pane {
	-fx-tab-min-width: 10px;
}

#roster-tab-pane .tab {
    -fx-background-insets: 0 0 0 0,0,0;
    -fx-background-color: #d9d2d2;
    
}

#roster-tab-pane .tab:selected {
 	-fx-background-color: #9fc0c7;
  /*  -fx-background-image: url("background.jpg");*/
}

#roster-tab-pane .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
}